
h1{
    
    font-size:50px;
    color:darkcyan;
    margin-top: 0;
}
h3{
    font-weight:800;
    color:black;
}
.high_light{
    color: orange;
}
.topper-division{
    background-image: url(image/top-banner.png);
    background-repeat: no-repeat;
    padding-bottom: 500px;
}

.div-width{
    width: 30%;
    float: left;
    margin-left: 8%;
    padding-left: %;
    margin-top: 20px;
   
   
}
.div-width img{
    width:80%;
    margin-left: 100px;
}
.snd-section{
    background-image: url(image/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 500px;
}
a{
    font-size:15px;
    color: white;
    padding: 10px 20px;
    background-color: orange;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.9s;
}
a:hover{
    background-color: paleturquoise;
    color: black;
   
}
.div-card{
    box-shadow: 10px 20px 40px;
   border-radius: 5px;
   height: 80%;
}
.experience-area{
    background-image: url(image/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
    padding-bottom: 500px;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, black, tomato);
    border-image-slice:1;
    height: 300px;
    background-color: white;
}
#baby-wib{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, blue, tomato);
    border-image-slice:1;
    height: 300px;
}
#copyright{
    margin-top: 300px;
    text-align:center;
    font-size: 35px;
    align-items: center;
}

.down-sec{
    margin: 10px;
    padding: 20px 30px;
    margin-bottom: 100px;
    margin-left: 25%;
      
}

.down-load{
    border: 2px solid green;
    background-color: gray;
    padding: 20px;
    float: left; 
    font-style: italic;
    border-radius: 5px;
    box-shadow: 10px 15px 30px gray;
    color: white; 
    padding-left: 5%;  
    
}
span a{
    margin-left: 20px;
    padding-left: 400px;
    padding-top: -40px; 
}

#donc{
    margin-left: 65px;
    padding: 5px;
    border-radius: 5px; 
    background-color: green;
}
h1 a{
    font-size: 30px;
    margin-left: 40px;
    padding-left: 40px;
    text-align: right;
   
}
.ps2{
    text-align: center;
    color: gray;
    padding: 10px 20px;
    margin: 0px 200px 50px 200px;
    background-color: lightgray;
    font-style: italic; 
    border-radius: 5px;
    box-shadow: 10px 20px 30px olive;
}
.hltag{
    padding-left: 200px;
}
#bd{
    padding: 15px 25px 0px 25px;
    font-size: 35px;
    font-weight: bold;
}
.pic-sec{
    display:block;
    padding: 0 10%;
    padding-bottom: 500px;
}
.pic-div{
    float: left;
   border-radius: 10px;
   border: 5px solid gray;
    height: 100%;
    background-color:white;
    box-shadow: 10px 20px 30px olive;
    margin-left: 90px;
   
}
#mobile-hand{
padding-left: 10px;

}
#pic-s{
    padding-left: 25px;
}
#spc{
    color:cyan;
    font-size: 25px;
    text-align: center;
}
.pic-div p{
    text-align: center;
}
.meida-icon{
    margin-top:150px;
}
.social-media{
   padding-left:40%;
   margin-left: 20px;
   font-size: 45px;
   color: cyan;


}
    